:root {
  --background-color: white;
  --secondary-background-color: #4e47ff;
  --fourth-background-color: black;
  --text-color: black;
  --second-text-color: #8987a1;
  --third-text-color: white;
  --font-family: "Raleway", serif;
  --font-weight: 700;
  --font-size: 16px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

button {
  cursor: pointer;
}

.container {
  margin: 60px auto 0 auto;
}

.logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo .blue-btn {
  background-color: var(--secondary-background-color);
  color: var(--third-text-color);
  width: 132px;
  border-radius: 10px;
  height: 48px;
  border-style: none;
}

.logo .white-btn {
  color: var(--second-text-color);
  border-style: none;
  background-color: var(--background-color);
}

.container-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 101px;
  gap: 65px;
}

.container-welcome h1 {
  font-size: 73.34px;
  line-height: 73.34px;
}

.buttons .btn-hello {
  background-color: var(--fourth-background-color);
  color: var(--third-text-color);
  width: 211px;
  height: 60px;
  margin-right: 200px;
  border-radius: 10px;
  border-style: none;
}

.buttons .btn-goodbye {
  background-color: var(--fourth-background-color);
  color: var(--third-text-color);
  width: 211px;
  height: 60px;
  border-radius: 10px;
  border-style: none;
}
